// Light theme
.light {
  --primary: #132e35;
  --primary-hover: #1a3d46;
  --primary-active: #0f252b;
  --primary-text: #ffffff;
  --secondary: #2d4a53;
  --background: #f3f3f3;
  --surface: #f0f0f0;
  --text: #0d1f23;
  --text-secondary: #2d4a53;
  --border: #5a636a;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.15);
  --inverted-bg: #262836;
  --inverted-text: #afb3b7;
}

// Dark theme deprecated
.dark {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --background: #121212;
  --surface: #1e1e1e;
  --text: #ffffff;
  --text-secondary: #adb5bd;
  --border: #495057;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  --shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.4);
  --inverted-bg: #ffffff;
  --inverted-text: #262836;
}


.theme {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
  --spacing0: 0rem;
  --spacing4: 0.4rem;
  --spacing8: 0.8rem;
  --spacing12: 1.2rem;
  --spacing16: 1.6rem;
  --spacing20: 2rem;
  --spacing24: 2.4rem;
  --spacing32: 3.2rem;
  --spacing40: 4rem;
  --spacing48: 4.8rem;
}