.heading1 {
  font-size: 5.6rem;
  font-weight: 700;
  font-family: var(--font-heading), sans-serif;
}

.heading2 {
  font-size: 4rem;
  font-weight: 700;
  font-family: var(--font-heading), sans-serif;
}

.bodyXLarge {
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--font-paragraph), sans-serif;
}

.bodyLarge {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-paragraph), sans-serif;
}

.bodyMedium {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-paragraph), sans-serif;
}

.bodySmall {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--font-paragraph), sans-serif;
}

.label {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: var(--font-paragraph), sans-serif;
}